.item {
  margin: 1rem 0;
  min-width: 27rem;
  max-width: 35rem;
  display: inline-block;
  padding: 1rem;
}

.content {
  text-align: left;
  padding: 1rem;
  color: #2c292b;
}

.content h3 {
  font-size: 1.25rem;
  color: #2c292b;
  text-align: center;
}
.content h4 {
  padding: 0.7rem;
  font-size: 1rem;
  color: #2c292b;
  display: inline;
}
.content p {
  color: #005ec2;
  display: inline;
  word-break: break-all;
}

.actions {
  padding: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.favorite button {
  font: inherit;
  cursor: pointer;
  color: #003a77;
  border: 1px solid #003a77;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}
.favorite button:hover,
.favorite button:active {
  background-color: #e2ebff;
}

.delete button {
  font: inherit;
  cursor: pointer;
  color: #b40f03;
  border: 1px solid #b40f03;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}
.delete  button:hover,
.delete  button:active {
  background-color: #ffe2ed;
}

